@model Player

@{
    ViewData["Title"] = "Login";
}

<p>@TempData.Peek("Message")</p>

<h2>Login</h2>
<form method="post" action='@Url.Action("Login")'>
    <label for="">E-mail:</label>
    <input type="text" name="Email">

    <label for="">Senha:</label>
    <input type="password" name="Password">

    <button type="submit">Logar</button>
</form>